form {
    margin-top: 2.5rem;

    & > div {
        display: flex;
        gap: 12px;
    }

    & .wrapper-number {
        margin-bottom: 1.25rem;

        & label {
            display: block;
            font: var(--label-md);
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 8px;
            transition: color 200ms ease;
        } 

        & input[type="number"] {
            border: 2px solid transparent;
            display: block;
            width: 6rem;
            padding: 8px 4px;
            text-align: center;
            appearance: none;
            font: var(--display-sm);
            color: var(--content-primary);
            background-color: var(--background-primary);
            transition: background-color 200ms ease;
            
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        } 

        & input[type="number"]:focus {
            border: 2px solid transparent;
            border-image: var(--gradient-border) 1;
            outline: none;
        }
    }

    & .wrapper-number:hover {
        & input[type="number"] {
            background-color: var(--background-tertiary);
            cursor: pointer;                  
        }

        & label {
            cursor: pointer;
            color: var(--content-brand);
        }
    }

    & .wrapper-number:focus-within {
        & input[type="number"] {
            background-color: var(--background-tertiary);
            cursor: pointer;       
        }

        & label {
            cursor: pointer;
            color: var(--content-brand);
        }
    }

    & .wrapper-switch {
        display: flex;
        align-items: center;

        & #switch {
            position: relative;
            cursor: pointer;

            & button {
                position: absolute;
                right: 3px;
                top: 50%;
                border-radius: 50%;
                border: 0;
                transform: translateY(-50%);
                width: 14px;
                height: 14px;
                background-color: var(--content-primary);
                cursor: pointer;

                &.switch-uncheck {
                    right: 0;
                    left: 3px;
                }
            }

            & span {
                display: block; 
                width: 30px;
                height: 20px;
                border-radius: 16px;
                background: var(--gradient-background);
            }

            
        }

        & p {
            font: var(--paragraph-md);
        }
    }
}

.show-form {
    & .content-form p {
        color: var(--content-tertiary);
    }
}

.show-result {
    & .content-form {
        & h3, & p {
            text-align: center;
        }

        & p {
            color: var(--content-secondary);
            text-transform: uppercase;
            font: var(--overline);
        }
    }

    & ul {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
        font: 700 3rem/150% "Roboto mono", sans-serif;
        color: var(--content-brand);
    }
}

.draw {
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.3s ease;
    & img {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }   
}

.draw:hover {
    border-image: var(--gradient-border) 1;
    border-radius: 8px;
     & img {
        animation: moveArrowIn 0.3s forwards;
    }
}

.draw:not(:hover) img {
    animation: moveArrowOut 0.3s forwards;
}

@keyframes moveArrowIn {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(8px);
    }
}

@keyframes moveArrowOut {
    from {
        transform: translateX(8px);
    } 
    to {
        transform: translateX(0);
    }
}
